# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://rbfpcrrwndxdlaaqqeju.supabase.co/
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_8Nyd6uXroE5NxvTguduVjQ_ADAbnC5B
SUPABASE_DB_URL=postgresql://postgres.rbfpcrrwndxdlaaqqeju:Rashmika%404587@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres
# Tool APIs
SERPAPI_KEY=your_serpapi_key
FIRECRAWL_API_KEY=your_firecrawl_key

# AI
GEMINI_API_KEY=AIzaSyApfhYoPhZsAnwyDKTutrbtlJreWeCMz1U
